._ {
    margin: 6rem 2rem;
    padding: 2rem;
}
.item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1rem auto;
    min-width: 20rem;
    width: 90%;
    height: auto;
    padding: 1rem;
    border-bottom: solid lightgrey 1px;
    gap: 5rem;
    transition: 0.5s;
}
/*.item:hover {*/
/*    transform: scale(1.1);*/
/*    border: solid 1px whitesmoke;*/
/*}*/

.img {
    width: 40%;
    max-height: 80vh;
    border-radius: 1rem;
}
.desc {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (max-width: 980px) {
    ._ {
        margin: 4rem 0;
        padding: 1rem;
    }
    .item {
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        padding: 1rem 0;
    }
    .img {
        width: 100%;
    }
}