.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1rem;
}

.input {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    width: 12rem;
}
.inpNone {
    display: none;
}
.customFile {
    cursor: pointer;
    width: 20rem;
    color: lightslategray;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.customFile svg {
    width: 3rem;
    height: 2rem;
    border-radius: 5rem;
}
.input input {
    width: 100%;
    height: 2.5rem;
    border-radius: 1rem;
}

.popUp {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1100;
    height: 10rem;
    width: 30rem;
    top: 20rem;
    left: 30rem;
    background: whitesmoke;
    border-radius: 1rem;
    border:3px solid rgba(0,0,0,.5);
    box-shadow: 0 0 64px rgba(0, 0, 0, 0.2), 0 0 16px rgba(0, 0, 0, 0.9), 0 0 4px rgba(0, 0, 0, 0.1);
}
.warningModal {
    position: absolute;
    top: calc(50% - 7.5rem);
    left: calc(50% - 20rem);
    width: 40rem;
    height: 15rem;
    background: #d72c2c;
    border-radius: 2rem;
    font-size: 1.2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: modal 1.5s linear 0s normal none ;
}

@keyframes modal {
    0% {
        scale: 1.1;
        opacity: 1;
    }
    50% {
        scale: 1.1;
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media (max-width: 480px) {
    .warningModal {
        width: 20rem;
        position: absolute;
        left: calc(50% - 10rem);
    }
}