:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  height: 2rem;
  border-radius: 10px;
}

button {
  height: 2rem;
  border-radius: 2rem;
  color: whitesmoke;
  background: goldenrod;
}

svg {
  height: 30px;
}