._ {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: rgba(0,0,0,0.8);
}

.links {
    display: flex;
    justify-content: center;
    gap: 3rem;
    height: 44px;
    align-items: center;
}

.link {
    color: lightgray;
    text-decoration: none;
}
.link:hover {
    color: white;
}
.logo {
    filter: invert(100%);
    height: 35px;
    position: fixed;
    left: 1rem;
    /*top: 1rem;*/
}

.phoneNumber {
    color: lightgray;
    position: fixed;
    top: 0.8rem;
    z-index: 1010;
    right: 2rem;
}

.phoneButton {
    display: none;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    background: none;
    border-radius: 3rem;
    fill: rgb(var(--foreground-rgb));
}

.calcButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    position: fixed;
    left: 3rem;
    bottom: 3rem;
    background: none;
    fill: rgb(var(--foreground-rgb));
}

.svg {
    height: 3rem;
}

.burger {
    display: none;
}

@media screen and (max-width: 1180px) {
    .links {
        gap: 1.5rem;
    }
    .logo {
        height: 2rem;
        position: fixed;
        filter: invert(100);
        left: 1rem;
        top: 0.3rem;
    }
    /*.phoneButton {*/
    /*    display: flex;*/
    /*    position: fixed;*/
    /*    background: goldenrod;*/
    /*    right: 1rem;*/
    /*    top: 0.3rem;*/
    /*    width: 2rem;*/
    /*}*/
    .phoneIcon {
        fill: whitesmoke;
    }
}

@media screen and (max-width: 980px) {
    ._ {
        gap: 1.2rem;
        font-size: 0.8rem;
    }
    .logo {
        height: 2.5rem;
        position: fixed;
        filter: invert();
        left: 1rem;
        top: 0.1rem;
    }
    /*.phoneButton {*/
    /*    display: flex;*/
    /*    position: fixed;*/
    /*    background: goldenrod;*/
    /*    right: 1rem;*/
    /*    top: 0.3rem;*/
    /*    width: 2rem;*/
    /*}*/
    .phoneNumber {
        position: absolute;
        right: 1rem;
        top: calc(50% - 0.5rem);
    }
    .phoneIcon {
        fill: whitesmoke;
    }
}
@media screen and (max-width: 800px) {
    ._ {
        background: rgba(0,0,0,0.7);
        height: 3.2rem;
    }
    .linksNone {
        display: none;
    }
    .links {
        background: black;
        gap: 1.5rem;
        font-size: 1.3rem;
        /*display: flex;*/
        flex-direction: column;
        height: auto;
        padding: 4rem 0;
        position: fixed;
        bottom: 0;
        top: auto;
        left: 0;
        right: 0;
        animation: 0.4s menu;
    }
    @keyframes menu {
        from {
            margin-bottom: -200%;
        }
        to {
            margin-bottom: 0;
        }
    }
    .footerMenu {
        position: fixed;
        /*left: 0;*/
        right: 0;
        bottom: 0;
        width: 4rem;
        height: 4rem;
        background: rgba(0,0,0,0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1rem;
    }
    .burger {
        background: none;
        border: none;
        display: flex;
        justify-content: center;
        width: 4rem;
        height: 2rem;
        fill: whitesmoke;
    }
    .phoneIcon {
        fill: whitesmoke;
    }
    .burger {
        background: none;
        border: none;
        display: flex;
        justify-content: center;
        width: 4rem;
        height: 2rem;
        fill: whitesmoke;
    }
    .calcButton {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        position: fixed;
        left: 3rem;
        bottom: 10rem;
        background: none;
        border: none;
        fill: whitesmoke;
    }
    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        position: fixed;
        right: 3rem;
        bottom: 10rem;
        background: none;
        border: none;
        fill: whitesmoke;
    }
}
@media screen and (max-width: 490px) {
    .nav {
        position: relative;
    }

    /*.phoneButton {*/
    /*    display: flex;*/
    /*    align-items: center;*/
    /*    position: fixed;*/
    /*    background: none;*/
    /*    !*border: none;*!*/
    /*    right: 1rem;*/
    /*    top: 0.3rem;*/
    /*    width: 3rem;*/
    /*    height: 3rem;*/
    /*}*/
    .phoneIcon {
        fill: whitesmoke;
    }
    .footerMenu {
        position: fixed;
        /*left: 0;*/
        right: 0;
        bottom: 0;
        /*width: 4rem;*/
        height: 4rem;
        background: rgba(0,0,0,0.8);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .burger {
        background: none;
        border: none;
        display: flex;
        justify-content: center;
        width: 4rem;
        height: 2rem;
        fill: whitesmoke;
    }
    .calcButton {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        position: fixed;
        left: 3rem;
        bottom: 10rem;
        background: none;
        border: none;
        fill: whitesmoke;
    }
    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        position: fixed;
        right: 3rem;
        bottom: 10rem;
        background: none;
        border: none;
        fill: whitesmoke;
    }
    .phoneNumber {
        display: none;
    }
    .phoneButton {
        display: block;
        background: none;
        fill: white;
        position: absolute;
        right: 0;
        top: 0.5rem;
    }
}